.alert-plant-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //border: 1px solid $dark-green2;
  padding: 10px;

  .alert-container-wrapper {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    //border: 1px solid $dark-green2;
  }

  .alert-item-wrapper {
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $dark-green;
    border-radius: 10px;

    &:hover {
      background-color: $light-green;
      border: 1px solid $dark-green2;
    }

    .alert-item-card {
      .icon-delete,
      .icon-edit {
        cursor: pointer;
        font-size: 1.5em;
        transition: 0.5s ease-in-out;
        color: $dark-green2;
        padding: 10px;
        font-weight: bold;
      }

      .icon-edit {
        &:hover {
          color: $violet;
        }
      }
      .icon-delete {
        &:hover {
          color: red;
        }
      }
    }
  }
}
