.alert-container-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  //border: 1px solid $dark-green2;
}

.alert-item-wrapper {
  border: 1px solid $dark-green;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $light-green;
    border: 1px solid $dark-green2;
  }

  .alert-item-card {
    .image {
      max-width: 300px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
}
