body {
  margin: 0px;
  font-family: 'Titillium Web', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  a {
    padding: 2px 5px;
    text-decoration: none;
    color: $green;
    font-weight: 900;
    font-size: 1.2rem;
    cursor: pointer;
  }

  a:hover {
    color: $dark-green;
    transition: all 0.5s ease-in-out;
  }
}

.message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: all 0.5s ease-in-out;

  .error-inner,
  .success-inner {
    display: inline-block;
    padding: 8px 16px;
    z-index: 1;
    background-color: #e7a8a8;
    border-radius: 5px;
    box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 70%);
    -webkit-box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 70%);
    -moz-box-shadow: 1px 2px 10px -3px rgb(0 0 0 / 70%);
  }

  .success-inner {
    background-color: $light-green;
  }
}

.home-container {
  display: flex;
  //border: 1px solid $dark-green;
  background-image: url('/images/pascal-debrunner--NxJ2NxGcb0-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  color: $light-green2;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .home-icon {
    font-size: 5rem;
    margin-bottom: 20px;
    cursor: pointer;
  }
}
.header-container {
  display: flex;
  border-bottom: 1px solid $dark-green;
  background-image: url('/images/pascal-debrunner--NxJ2NxGcb0-unsplash.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 15vh;
  width: 100%;
  color: $light-green2;
  align-items: center;
  justify-content: center;
}
