.loginform-container-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}
.login-form-wrapper {
  @include base-grid();
  grid-template-columns: 1fr;
  padding: 60px;
  justify-items: center;
  //border: 1px solid $dark-green2;
  gap: 30px;

  @include input-element();
  input {
    margin-bottom: 0px;
    padding: 10px 20px;
  }
}
