// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=12B050kfTra5jD4aavcmrmArYix */

// Feel free to copy&paste color codes to your application */

// As hex codes */

// Main Primary color */
$light-green: #d4e9c3;
$light-green2: #b5dc96;
$green: #8ac061;
$dark-green: #60a030;
$dark-green2: #428311;
$charcoal: #42454a;
$offwhite: #f6f6f6;
$warning: #922a2a;
$grey: #8a8a8a;
$violet: #851132
