.portfolio-form-wrapper {
    @include base-grid();
    grid-template-columns: 1fr;
    padding: 40px;
    
    @include input-element();
    input {
        margin-bottom: 0px;
    }

    .image-uploaders {
        @include base-grid();
        grid-template-columns: 1fr 1fr 1fr;

        .portfolio-manager-image-wrapper {

            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 5px;
            }

            .image-removal-link {
                display: flex;
                justify-content: center;
                a {
                    font-weight: 900;
                    font-size: 1rem;
                    color: $warning;
                    cursor: pointer;
                }
            }
        }
    }
}
