.portfolio-manager-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;

    .leftside {
        background-color: $offwhite;
    }

    .rightside {
        background-color: $charcoal;

        .portfolio-sidebar-list-wrapper {
        
            .portfolio-item-wrapper {
                padding: 15px;

                .portfolio-thumb-image img{
                    width: 100%;
                }

                .text-content {
                    display: flex;
                    justify-content: space-between;

                    .title {
                        color: $offwhite;
                        font-size: 1.5em;
                    }

                    .delete-icon, .update-icon {
                        cursor: pointer;
                        color: $offwhite;
                        font-size: 1.3em;
                        transition: 0.5s ease-in-out;

                        &:hover {
                            color: $warning;
                        }
                    }

                    .update-icon {
                        &:hover {
                            color: $blue;
                        }
                    }
            }
            }
        }
    }
}
