.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .portfolio-item-wrapper {
        position: relative;

        .portfolio-img-background {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 350px;
            width: 100%;
        }

        .image-text-wrapper {
            position: absolute;
            top: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            text-align: center;
            padding-left: 100px;
            padding-right: 100px;

            
            .logo-wrapper img {
                width: 50%;
                margin-bottom: 20px;
            }

            .subtitle {
                transition: 1s ease-in-out;
                color: transparent;
            }
        }

        .image-text-wrapper:hover .subtitle {
            color: $teal;
            font-weight: 400;
        }
    }

    .image-blur {
        transition: 1s;
        filter: brightness(10%);
        color: black;
    }
}
